/* 	
	font-family: 'DM Serif Display', serif;
	font-family: 'Inter', sans-serif;
	font-family: 'Poppins', sans-serif;
 */
body,html{
	margin:0;
	padding:0;
	background-color:#161516;
}
p,h1,h2,h3,h4{
	color:#ffffff;
}
#page{
	width:100%;
}
.navbar{
	display:flex;
}
.navbar-dark{
	background-color:#c4a264; 
	/* background-color:#db2e6a; */
	/* background-color:#e0846d; */
	/* background-color:#47a4b7; */
	/* background-color:#f45555; */
	/* background-color:#376664; */
}
.navbar-light{
	background-color:#ffffff;
}
.thin{
	font-weight:lighter;
}
.primary-color{
	color:#47b792;
}
.seconday-color{
	color:#47a4b7;
}
.third-color{
	color:#47b75a;
}

  .container{
  	flex-direction:column;
  }
  [class*="cell-"] {
    width: 100%;
  }
  .heirarchy-1{
  	font-family: 'DM Serif Display', serif;
  	font-size:28px;
  }
  .heirarchy-2{
  font-family: 'DM Serif Display', serif;
  	font-size:24px;
  }
  .heirarchy-3{
  font-family: 'Inter', sans-serif;
  	font-size:20px;
  }
  .heirarchy-4{
  	font-family: 'Inter', sans-serif;
  	font-size:16px;
  }
  #welc-txt{
  	padding-top:40px;
  	padding-left:0px;
  }
  #welc-txt *{
  	text-align:center;
  }
	.collapseArea{
		/* margin-left:-20px; */
		max-height:1px;
		overflow:hidden;
		transition:all .5s ease;
	}
	.collapseArea.expand{
		max-height:180px;
	}
  .navbar-group{
  	display:flex; 
  	flex-direction:column; 
  	justify-content:center; 
  	text-align:center; 
  	margin:auto;
  	transition:1s;
  }
  .nav-item{ 
  	margin-top:8px;
  	text-align:center; 
	color:#000;
	margin-left:-25px;
	transition:0.5s;
	border-radius:50px;
  	text-align:center;
	display:flex; 
	/* margin-right:20px; */
  }
 .nav-item:hover{
 	/* background-color:#201623; */
 	background-color:#efefef;
 	color:#000;
 }

.nav-link{
	font-family: 'Inter', sans-serif;
	text-decoration:none;
	padding:10px 16px;
	transition:0.5s;
	color:#fff; 
	width:100%;
}
.nav-link:hover{
	color:#000;
}
.nav-link-btn{
  	background-color:#efefef;
  	border-radius:50px;
 	color:#000 !important;
 	margin-left:-25px;
 	margin-top:8px;
 	display:flex; 
}
.link-btn{
	color:#000;
}
  .nav-btn{
  	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	margin-top:20px;
  }
  .navbar{
  	padding:8px;
  	display:flex;
  	flex-direction:column;
  }
  .nav-logo{
  text-decoration:none;
  	text-align:center;
  	margin-top:0px;
	font-family: 'Inter', sans-serif; 
	font-weight:bolder;
	font-size:20px;
	color:#ffffff;
  }

  .ml-auto{ 
  	margin-left:auto; 
  	margin-right:auto;
  } 


   .hide{ 
  	display:none; 
  } 
.desc-text{
	line-height:23px;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}
.stacked{
	display:flex;
	flex-direction:column;
	justify-content:flex-start; 
}
.stacked *{
	margin-top:0px;
}
.container{
	display:flex;
	flex-direction:column;
}

.text-center *{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

  .responsive-img{
  	width:80%;
  	/* min-height:40vh; */
  	min-height:100%;
  	max-height:100%;
  	margin-left:10%;
  	margin-top:30px;
  }
  .nav-btn{
  	padding:10px 16px;
  	border:3px solid #353335;
  	border-radius:5px;
  	background-color:#161516;
  	color:#c4c4c4;
  }
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4 DESKTOP STYLES */

#sec-1{
	min-height:75.5vh;
	/* overflow-y:hidden; */
}
#sec-2{
	background-color:#fff !important;
	padding:18px;
}
#sec-2 *{
	color:#000;
}

#sec-3 { 
	/* background-color:#375066; */ 
	padding-left:10px; 
	padding-right:10px; 
} 
.form-row{
	display:flex;
	flex-direction:column;
	margin-top:14px;
}
.form-group{
	display:flex;
	flex-direction:column;
	margin:auto;
}
.form-container{
	background-color:#e2e2e2;
	padding:10px; 
	margin-bottom:70px;
}
.form-container *{
	color:#000;
}
.dm-ser{
	font-family: 'DM Serif Display', serif !important;
}
label{
	font-family: 'Inter', sans-serif;
	font-family: 'Poppins', sans-serif;
}
input,textarea{
	padding:10px 8px;
	border:none;
}
#submit{
	padding:15px 20px;
	background-color:#c4a264;
	color:#fff;

	margin-left:auto;
	margin-right:auto;
}
#footer{
	height:150px;
	margin-top:auto;
	padding-top:35px;
	/* background-color:#caceb3; */
	/* background-color:#329e81; */
	background-color:#eae091;
}
.footer-text *{
	color:#000;
}
.sl-media-container{ 
	display:flex; 
	flex-direction:row; 
	justify-content:center; 
} 
.sl-media-link-container{
	margin-right:20px;
}
.sl-media-link-container *{
font-size:21px;
}
@media only screen and (min-width: 768px) {
.form-row{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
} 
.form-group{ 
	width:100%; 
} 
#footer{
	padding-top:45px;
}
  .navbar{
  	padding:18px; 
  	display:flex;
  	flex-direction:row;
  }
  #submit{
  	margin-right:0;
  }
  .nav-link{
  	padding:10px 16px;
  }
  .nav-logo{ 
  	/* margin-left:20px; */
  	margin-top:20px; 
  } 
  #welc-txt *{ 
  	text-align:left; 
  } 
  #welc-txt{
  	padding-top:150px;
  	padding-left:70px;
  }
  .desc-text{
  	padding-left:0;
	padding-right:0;
  	line-height:30px;
  	font-size:18px;
  }
.navbar-group{
	list-style-type:none;
	display:flex;
	flex-direction:row;
	margin-left:auto;
}
  .nav-item{ 
  	margin-top:8px;
  	/* background-color:#3ed337; */
  	/* background-color:#895c71; */
  	border-radius:50px;
  	text-align:center;
	display:flex; 
	margin-right:29px; 
  }
.nav-link-btn{
  	background-color:#efefef;
  	border-radius:50px;
 	color:#000 !important;
 	margin-right:20px;
 	margin-top:8px;
}

#sec-1{
	max-height:90vh;
	overflow-y:hidden;
}

.responsive-img{ 
	width:100%; 
	/* max-height:90vh; */
	min-height:100%;
  	max-height:100%;
	margin:0px;
} 
.brand-text-color{
	color:#000;
}
.heirarchy-1{
	font-family:'DM Serif Display', serif;
	font-size:50px;
}
.heirarchy-2{
	font-family:'DM Serif Display', serif;
	font-size:40px;
}
.heirarchy-3{
	font-family: 'Inter', sans-serif;
	font-size:30px;
}
.heirarchy-4{
	font-family: 'Inter', sans-serif;
	font-size:18px;
}

#sec-1{
	min-height:87vh;
}
.nav-show{
	display:none;
}
.nav-hide{
	display:none;
}
  .ml-auto{ 
  	margin-left:auto; 
  	margin-right:0;
  } 
.collapseArea{
	max-height:none;
}
.container{
	flex-direction:row;
}
.cell-100{
	width:100%;
}
.cell-90{
	width:90%;
}
.cell-50{
	width:50%;
}
.cell-60{
	width:60%;
}
.cell-70{
	width:70%;
}
.cell-40{
	width:40%;
}
.cell-35{
	width:35%;
}
.cell-30{
	width:30%;
}
.cell-20{
	width:20%;
}
.cell-15{
	width:15%;
}
.cell-10{
	width:10%;
}
.cell-5{
	width:5%;
}
}

@media only screen and (max-width: 600px){
  .heirarchy-1{
  	font-size:20px;
  }
  .heirarchy-2{
  	font-size:18px;
  }
  .heirarchy-3{
  	font-size:16px;
  }
  .heirarchy-4{
  	font-size:14px;
  }
}
