/* 	
	font-family: 'DM Serif Display', serif;
	font-family: 'Inter', sans-serif;
	font-family: 'Poppins', sans-serif;
 */
body,html{
	margin:0;
	padding:0;
	background-color:#161516;
}
p,h1,h2,h3,h4{
	color:#ffffff;
}
#page{
	width:100%;
}
.navbar{
	display:flex;
}
.navbar-dark{
	/* background-color:#c4a264; */
	/* background-color:#db2e6a; */
	background-color:#e0846d;
}
.navbar-light{
	background-color:#ffffff;
}
.thin{
	font-weight:lighter;
}



  .container{
  	flex-direction:column;
  }
  [class*="cell-"] {
    width: 100%;
  }
  .heirachy-1{
  font-family: 'DM Serif Display', serif;
  	font-size:28px;
  }
  .heirarchy-2{
  font-family: 'DM Serif Display', serif;
  	font-size:24px;
  }
  .heirarchy-3{
  font-family: 'Inter', sans-serif;
  	font-size:20px;
  }
  .heirarchy-4{
  	font-family: 'Inter', sans-serif;
  	font-size:16px;
  }
  #welc-txt{
  	padding-top:40px;
  	padding-left:0px;
  }
  #welc-txt *{
  	text-align:center;
  }
	.collapseArea{
		/* margin-left:-20px; */
		max-height:1px;
		overflow:hidden;
		transition:all .5s ease;
	}
	.collapseArea.expand{
		max-height:180px;
	}
  .navbar-group{
  	display:flex; 
  	flex-direction:column; 
  	justify-content:center; 
  	/* align-items:center; */
  	text-align:center; 
  	/* margin-left:-10%; */
  	margin:auto;
  	transition:1s;
  }
  .nav-item{ 
  	margin-top:8px;
  	text-align:center;
	display:flex; 
	color:#000;
	margin-left:-25px;
	transition:0.5s;

	  	border-radius:4px;
  	text-align:center;
	display:flex; 
	margin-right:20px;
  }
 .nav-item:hover{
 	/* background-color:#201623; */
 	background-color:#efefef;
 	color:#000;
 }
.nav-link{
	font-family: 'Inter', sans-serif;
	text-decoration:none;
	padding:10px 16px;
	transition:0.5s;
	color:#fff; 
}
.nav-link:hover{
	color:#000;
}
  .nav-btn{
  	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	margin-top:20px;
  }
  .navbar{
  	padding:8px;
  	display:flex;
  	flex-direction:column;
  }
  .nav-logo{
  text-decoration:none;
  	text-align:center;
  	margin-top:0px;
	font-family: 'Inter', sans-serif; 
	font-weight:bolder;
	font-size:20px;
	color:#ffffff;
  }

  .ml-auto{ 
  	margin-left:auto; 
  	margin-right:auto;
  } 


   .hide{ 
  	display:none; 
  } 
.desc-text{
	line-height:23px;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}
.stacked{
	display:flex;
	flex-direction:column;
	justify-content:flex-start; 
}
.stacked *{
	margin-top:0px;
}
.container{
	display:flex;
	flex-direction:column;
}

.text-center *{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

  .responsive-img{
  	width:70%;
  	max-height:70vh; 
  	margin-left:15%;
  	margin-top:30px;
  }
  .nav-btn{
  	padding:10px 16px;
  	border:3px solid #353335;
  	border-radius:5px;
  	background-color:#161516;
  	color:#c4c4c4;
  }
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4 DESKTOP STYLES */

#sec-1{
	max-height:100vh;
	overflow-y:hidden;
}
@media only screen and (min-width: 768px) {
  .navbar{
  	padding:18px; 
  	display:flex;
  	flex-direction:row;
  }
  
  .nav-link{
  	padding:10px 16px;
  }
  .nav-logo{ 
  	/* margin-left:20px; */
  	margin-top:20px; 
  } 
  #welc-txt *{ 
  	text-align:left; 
  } 
  #welc-txt{
  	padding-top:150px;
  	padding-left:70px;
  }
.navbar-group{
	list-style-type:none;
	display:flex;
	flex-direction:row;
	margin-left:auto;
}
  .nav-item{ 
  	margin-top:8px;
  	/* background-color:#3ed337; */
  	/* background-color:#895c71; */
  	border-radius:4px;
  	text-align:center;
	display:flex; 
	margin-right:20px; 
  }


#sec-1{
	max-height:90vh;
	overflow-y:hidden;
}

.responsive-img{ 
	width:100%; 
	max-height:90vh; 
	margin:0px;
} 
.brand-text-color{
	color:#000;
}
.heirarchy-1{
	font-family:'DM Serif Display', serif;
	font-size:50px;
}
.heirarchy-2{
	font-family:'DM Serif Display', serif;
	font-size:40px;
}
.heirarchy-3{
	font-family: 'Inter', sans-serif;
	font-size:30px;
}
.heirarchy-4{
	font-family: 'Inter', sans-serif;
	font-size:18px;
}


.nav-show{
	display:none;
}
.nav-hide{
	display:none;
}
  .ml-auto{ 
  	margin-left:auto; 
  	margin-right:0;
  } 
.collapseArea{
	max-height:none;
}
.container{
	flex-direction:row;
}
.cell-50{
	width:50%;
}
.cell-60{
	width:60%;
}
.cell-20{
	width:20%;
}
}
@media only screen and (max-width: 600px){
  .heirarchy-1{
  	font-size:20px;
  }
  .heirarchy-2{
  	font-size:18px;
  }
  .heirarchy-3{
  	font-size:16px;
  }
  .heirarchy-4{
  	font-size:14px;
  }
}
